    {% extends "base.html" %}

    {% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card no-hover shadow-sm">
                        <h2 class="text-center">
                            {% if form.instance.pk %}Editar Producto{% else %}Agregar Producto{% endif %}
                        </h2>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="mb-3">
                                    <label class="form-label">{{ field.label }}</label>
                                    {{ field }}
                                    {% if field.errors %}
                                        <div class="text-danger small">
                                            {{ field.errors|striptags }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="d-grid">
                                <button type="submit" class="btn btn-success">Guardar</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'product_list' %}" class="btn btn-link">Volver a la lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}