{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            {% for product in products %}
                <div class="col-md-3 mb-4">
                    <div class="card">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="object-fit: contain; height: 200px;">
                        {% else %}
                            <div class="card-img-top bg-light d-flex justify-content-center align-items-center" style="height: 200px;">
                                <span class="text-muted">Sin imagen</span>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description|truncatewords:10 }}</p>
                            <p class="card-text font-weight-bold">${{ product.price }}</p>
                            
                            {% if user.is_staff %}
                                <p>Stock disponible: {{ product.stock }}</p>
                                <a href="{% url 'product_update' product.pk %}" class="btn btn-warning btn-sm">Editar</a>
                                <a href="{% url 'product_delete' product.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                            {% else %}
                                {% if user.is_authenticated %}
                                    {% if product.stock > 0 %}
                                        <p>Stock disponible: {{ product.stock }}</p>
                                        <form action="{% url 'add_to_cart' product.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-primary btn-sm">Agregar al carrito</button>
                                        </form>
                                    {% else %}
                                        <span>No hay stock</span>
                                    {% endif %}
                                {% else %}
                                    <p>Para ver el stock y agregar productos al carrito, <a href="{% url 'iniciar_sesion' %}">inicia sesión</a>.</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}