{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-4">Mis Pedidos</h2>

    {% if orders %}
        <div class="row">
            {% for order in orders %}
                <div class="col-md-4 mb-3">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <h5 class="card-title">Pedido ID: {{ order.id }}</h5>
                            <p class="card-text">Estado: {{ order.get_status_display }}</p>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Fecha:</strong> {{ order.created_at }}</p>
                            <p class="card-text"><strong>Total:</strong> ${{ order.total_price }}</p>  <!-- Aquí se usa el campo total_price -->
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'order_detail' order.id %}" class="btn btn-info btn-sm">Ver detalles</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="alert alert-warning">No tienes pedidos aún.</p>
    {% endif %}
</div>
{% endblock %}
