{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="w-100 mt-0">
        <img src="{% static 'images/banner.png' %}" alt="Banner gimnasio" class="img-fluid banner-img">
    </div>

    <main class="container mt-5">
        <section class="card card-body">
            <h2>
                Bienvenido a StrongMarket,
            </h2>
            <p>
                tu tienda en línea especializada en artículos de gimnasio y fitness. Aquí encontrarás todo lo que necesitas para entrenar desde casa o potenciar tu rendimiento en el gimnasio: desde pesas, bandas de resistencia y mancuernas hasta ropa deportiva, accesorios de yoga, suplementos y equipos de entrenamiento funcional.

                Nos enfocamos en ofrecer productos de alta calidad para todos los niveles, desde principiantes hasta atletas avanzados. Ya sea que estés construyendo tu propio gimnasio en casa o buscando mejorar tu rendimiento, tenemos las herramientas para ayudarte a alcanzar tus metas.
                
                Con envíos rápidos, atención personalizada y productos seleccionados por expertos, en StrongMarket cuidamos cada detalle para que te enfoques en lo más importante: tu progreso.
            </p>

        </section>
    </main>
{% endblock %}